.header-wrapper{
    text-align: center;
}

.left.wiskers, .right.wiskers{
    width:30px;
    display:inline-block;
    position: relative;
    top: 5px;
}
.wiskers-line{
    height: 14px;
    margin: 0px -8px;
    background-size: 150px 14px;
    background-repeat: repeat-x;
    background: url("/src/imgs/wiskers-line.svg");
}

.content{
    
}

.content .images{
    text-align: center;
}

.images .single-image{
    max-width: 100%;
    margin-bottom: -4px;
}

.images .image-border{    
    background-color: rgba(130, 112, 129, 1);
    padding:4px;
    margin: 10px auto;
    max-width: 90%;
    border: 2px solid white;
}

.footer{
    background-color: rgba(206, 231, 230, 1);
    padding:8px 8px;
    text-align: center;
    margin: -8px;
    position: fixed;
    bottom:0px;
    width: 100%;
}

.footer .wiskers{
    display: inline-block;
    width: 75px;
}

.footer p{
    display: inline-block;
    color: rgba(173, 155, 170, 1);
    font-size: 10px;
    position: relative;
    top: -3px;
    margin: 20px;
    margin-bottom: 12px;
}

.footer-line{
    background-color: transparent;
}
.footer-line.top{
    margin: 0px -8px -12px -8px;
}

.footer-line.bottom{
    margin: -12px -8px 0px -8px;
}

@media screen and (min-width: 768px) {
    .images .image-border{
        width:40%;
        display: inline-block;
    }
}